*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #345c8b;
  --outlineColor: #4de4fc;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 62.5%;
  background-color: var(--backgroundColor);
  color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  font-size: 1.4rem;
  margin: 1.5rem 1rem;
}

main {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.error-msg {
  font-size: 1.2rem;
  color: rgb(254, 104, 104);
}

.close-btn {
  position: relative;
  top: 2%;
  left: 20%;
  color: var(--outlineColor);
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: var(--backgroundColor);
}

button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: inherit;
  color: white;
  cursor: pointer;
  font-family: inherit;
}

button[type='button'] {
  border: 3px solid var(--outlineColor);
}

form div {
  margin-top: 0.6rem;
}

form {
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  display: block;
}

form input {
  width: 25%;
  height: 30px;
  padding: 5px;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.3px;
}

form input:hover {
  box-shadow: 0 0 5px 2px var(--outlineColor);
}

form input:focus {
  box-shadow: 0 0 5px 2px var(--outlineColor);
  outline-width: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 25%;
  height: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

select:hover {
  box-shadow: 0 0 5px 2px var(--outlineColor);
  border: none;
}

select option {
  background-color: black;
  color: white;
}

form button[type='submit'] {
  border: thin solid var(--outlineColor);
  margin-top: 0.5rem;
}

table {
  table-layout: fixed;
  max-width: 70%;
  min-width: 50%;
  border-collapse: collapse;
  margin: 5rem auto;
  box-shadow: 0 0 20px var(--outlineColor);
}

thead {
  font-size: 1.5rem;
  border-bottom: thin solid var(--outlineColor);
}

thead th {
  padding: 0.5rem;
  font-weight: 700;
  width: 50px;
}

tbody {
  font-size: 1.1rem;
}

tbody td {
  padding: 0.8rem;
  width: 50px;
  border-bottom: thin solid var(--outlineColor);
}

.read-status {
  pointer-events: none;
}

.delete-btn {
  background-color: red;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

footer a:hover {
  color: var(--outlineColor);
}
